@font-face {
    font-family: 'FuturaPT';
    font-display: swap;
    src: url("../fons/FuturaPT-Bold.woff2");
    src: local("O"), url("../fons/FuturaPT-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}


body {
  background-color: #ffffff;
  font-family: "Roboton";
}

header {
  position: relative;
  max-height: 631px;
  height: 100%;
  background: url("../imgs/bg1.jpg") no-repeat ;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);
  perspective: 1px;
}
.heder_background{
  background-color: black;
  opacity: 0.8;
  min-height: 631px;
  
}

.container {
  max-width: 990px;
  margin: 0 auto;
}

/* Header*/

.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 110px;
}

.header_nav_menu {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  flex: 1 0 auto;
 
}

.header_nav_menu_titel {
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  color: #424f57;
}

.header_nav_menu_titel_blu {
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #14afca;
}

.header_nav_menu_list {
  display: flex;
  justify-content: space-between;
  max-width: 595px;
  flex: 1 0 auto;
}

.header_nav_menu_list_items {
  display: flex;
  align-items: center;
}

.eader_nav_menu_list_items_link {
font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #3e4c4e;
}

.link_blu {
  color: #14afca;
}

.header_text {
  font-family: "FuturaPT";
  max-width: 996px;
  max-height: 145px;
  font-size: 52px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 149px;
  transform: translateZ(-1);
}

/*  section companies */

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
  text-align: center;
  color: #14afca;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  text-align: center;
  color: #14afca;
}

.main {
}

.main_companies {
  margin-top: 122px;
  margin-bottom: 70px;
}

.main_companies_info {
  margin-bottom: 99px;
}

.main_companies_info_titel {
  padding-bottom: 10px;
}

.main_companies_info_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.899999px;
  color: #424f57;
  padding-bottom: 20px;
}

.main_companies_info_description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #424f57;
}

.opasiti {
  background-color: black;
}

.main_companies_sponsors {
  background: url("../imgs/bg2.jpg");
  background-attachment: fixed;
  max-height: 635px;
  height: 100%;
  clip-path: polygon(0 100%, 0 0, 50% 10%, 100% 0, 100% 100%);
}

.main_companies_sponsors_titel {
  padding-top: 128px;
  padding-bottom: 10px;
}

.main_companies_sponsors_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.899999px;
  color: #ffffff;
  padding-bottom: 31px;
}

.main_companies_sponsors_logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  align-items: center;
  justify-items: center;
  height: 270px;
}

.main_companies_sponsors_logo_img {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
}

/* section meet us*/
.main_meet_us {
  margin-bottom: 90px;
}

.main_meet_us_box {
  text-align: center;
}

.main_meet_us_box_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.899999px;
  color: #424f57;
  padding-top: 20px;
}

.main_meet_us_box_users {
  display: flex;
  align-items: center;
  flex: 1 0 33.33%;
  gap: 85px;
  padding-top: 20px;
}

.main_meet_us_box_users_info {
  max-width: 280px;
  max-height: 330px;
}

.main_meet_us_box_users_info_text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #424f57;
}

/*sections testimonials*/

.main_testimonials {
  height: 625px;
  height: 100%;
  background: url("../imgs/bg3.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%, 100% 0);
}

.main_testimonials_box {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding-top: 170px;
}

.main_testimonials_box_subtitel {
  font-family: "Open Sans";
  font-style:italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.899999px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 48px;
}

.main_testimonials_box_text {
  font-family: "Open Sans";
  font-style:italic;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.8px;
  color: #d3cccc;
  padding-bottom: 28px;
}

.main_testimonials_box_link {
  font-family: "Open Sans";
  font-style:italic;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.45px;
  color: #ffffff;
  display: flex;
  justify-content: end;
  padding-bottom: 143px;
}

/* section inovation*/
.main_inovation {
  text-align: center;
  margin-top: 105px;
}

.main_inovation_box {
    margin: 0 auto;
    max-width:840px ;
    
}

.main_inovation_box_subtitel {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.899999px;
  color: #424f57;
  padding-top: 10px;
}

.main_inovation_box_text {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.75px;
  color: #424f57;
  padding-top: 10px;
  margin-bottom: 96px;
}
/*footer*/
.footer {
     padding-bottom: 90px; 
    }
.footer_box {
    text-align: center;
 }
.footer_box_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: #3D3C3C;
     }
.footer_box_text_link {
    font-weight: 700;
    color: black;
    }
